* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}


body {
    background-color: rgb(79, 234, 170);
    color: rgb(250, 255, 173);
    text-shadow: 2px 2px rgba(211, 217, 130, 1);
}

.top {
    font-family: "Kumar One Outline";
    margin: 0 auto;
    text-align: center;
    background-color: rgba(45, 230, 153, 1);
}

.greetings {
    display: inline-block;
    font-size: 3rem;
}

nav {
    padding-right: 10%;
    padding-left: 10%;
}
#nav {
    list-style-type: none;
    display: flex;
    align-items: stretch;
    justify-content: space-around;
    width: 100%;
}
#nav li {
    display: block;
    font-family: "Jura", sans-serif;
    font-size: 2rem;
}
#nav a {
    color: inherit;
}

#button1 {
    width:100px;
    height: 100px;
    background-color: red;
    color: white;
}
