* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

section {
	width: 100%;
	max-width: 1000px;
	padding: 20px 20px;
	display: flex;
	justify-content: normal;
}

h1 {
	color: #fff;
	font-size: 19vw;
	font-weight: bold;
}

header {
	color: rgba(255, 244, 148, 0.945);
	font-size: 6vw;
	text-align: justify;
	text-justify: auto;
}

/* NAV-CARDS BUSINESS */
a {
	color: #000
}
nav {
	width: 100%;
	max-width: 100%;
	height: 70vw;
	position: relative;
}

.box {
	font-size: 10vw;
	height: 50vw;
	width: 50vw;
	position: absolute;
}

.box.about {
	background-color: rgb(64, 243, 64);
	top: 0;
	left: 0;
}

.box.work {
	background-color: rgb(255, 86, 232);
	top: 10vw;
	left: 20vw;
}

.box.hire {
	background-color: rgb(52, 247, 221);
	top: 20vw;
	left: 40vw;
}

/* HOVERS */
.box.about:hover,
.box.work:hover,
.box.hire:hover {
	top: -10px;
}

footer {
	color: rgba(255, 255, 255, 0.562);
	font-style: italic;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
	padding: 10px 0;
}

 /* Extra small devices (phones, 600px and down) */
 @media screen and (max-width: 600px) {
.box {
	font-size: 10vw;
	height: 50vw;
	width: 50vw;
	position: absolute;
}
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
	 header {
		 font-size: 4vw;
	 }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

	section {
		justify-content: center;
	}

	nav {
		height: calc(350px + 140px);
		width: 80%;
	}
	
	.box {
		font-size: 70px;
		height: 350px;
		width: 350px;
		position: absolute;
		overflow: hidden;
	}

	.box.about {
		top: 0;
		left: 0;
	}

	.box.work {
		top: 70px;
		left: 25%;
	}

	.box.hire {
		top: 140px;
		left: 50%;
	}
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
	 h1 {
		 font-size: 12rem;
	 }

	 header {
		 font-size: 35px;
	 }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

	.box.about {
		top: 0;
		left: 0;
	}

	.box.work {
		top: 70px;
		left: 30%;
	}

	.box.hire {
		top: 140px;
		left: 60%;
	}
 }

 /* ANIMATION */
.full-screen1 {
	/* position: absolute; */
	animation-name: enlarge1;
	animation-duration: 1s;
	/* animation-iteration-count: infinite; */
	animation-fill-mode: forwards;
}

/* THE REPETITION HERE IS BOLLOCKS */
/* It seems that an animation of the same name fired the second time will not trigger onanimationend*/
.minimized1 {
		animation-name: minimize1;
		animation-duration: 1s;
		animation-direction: reverse;
}

@keyframes enlarge1 {
	30% {
		top: 0;
		left: 0;
	}
	100% {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}

@keyframes minimize1 {
	30% {
		top: 0;
		left: 0;
	}
	100% {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}

.full-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	visibility: hidden;
	overflow-x: hidden;
}

.close {
	font-size: 10rem;
}

 button.close {
	/* reset */
  padding: 0;
	border: none;
	margin: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  /* show a hand cursor on hover; some argue that we
  should keep the default arrow cursor for buttons */
	cursor: pointer;
	
	position: absolute;
	right: 20px;
	top: 20px;

	/* make it hidden at first */
	transition: opacity 2s;
}

.full-height {
	overflow-y: auto;
}

.hidden {
	opacity: 0;
	transition: opacity 5s;
}

.retract-text {
	opacity: 0;
	transition: opacity 1s;
}

article {
	opacity: 1;
	transition: opacity 0.5s;
}

.invisible-container {
	display: none;
}


/* Work aniation */
/* REPETITION AF */
.stretch {
	animation-name: stretch-v;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

.minimized2 {
	animation-name: minimize2;
	animation-duration: 1s;
	animation-direction: reverse;
}

@keyframes stretch-v {
	20% {
		top: 0;
		height: 100%;
	}
	100% {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

@keyframes minimize2 {
	50% {
		top: 0;
		height: 100%;
	}
	100% {
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}