* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

section {
	max-width: 1000px;
	padding: 20px 20px;
}

h1 {
	color: #fff;
	font-size: 19vw;
	font-weight: bold;
}

header {
	color: rgba(255, 244, 148, 0.945);
	font-size: 6vw;
	text-align: justify;
	text-justify: auto;
}

/* NAV-CARDS BUSINESS */
nav {
	width: 85vw;
	max-width: 100%;
	height: 70vw;
	position: relative;
}

nav div {
	font-size: 10vw;
	height: 50vw;
	width: 50vw;
	position: absolute;
}

nav div:nth-child(1) {
	background-color: rgb(64, 243, 64);
	top: 0;
	left: 0;
}

nav div:nth-child(2) {
	background-color: rgb(255, 86, 232);
	top: 10vw;
	left: 20vw;
}

nav div:nth-child(3) {
	background-color: rgb(52, 247, 221);
	top: 20vw;
	left: 40vw;
}

/* HOVERS */
nav div:nth-child(1):hover,
nav div:nth-child(2):hover,
nav div:nth-child(3):hover {
	top: -10px;
}

footer {
	color: rgba(255, 255, 255, 0.562);
	font-style: italic;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
	padding: 10px 0;
}

 /* Extra small devices (phones, 600px and down)
 @media screen and (max-width: 600px) {

 } */

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
	 header {
		 font-size: 4vw;
	 }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
	nav {
		height: calc(350px + 140px);
	}

	
	nav div {
		font-size: 70px;
		height: 350px;
		width: 350px;
		position: absolute;
	}

	nav div:nth-child(1) {
		background-color: rgb(64, 243, 64);
		top: 0;
		left: 0;
	}

	nav div:nth-child(2) {
		background-color: rgb(255, 86, 232);
		top: 70px;
		left: 20vw;
	}

	nav div:nth-child(3) {
		background-color: rgb(52, 247, 221);
		top: 140px;
		left: 40vw;
	}
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
	 h1 {
		 font-size: 12rem;
	 }

	 header {
		 font-size: 35px;
	 }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 /* @media only screen and (min-width: 1200px) {}  */