* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	background-color: #000;
	font-family: 'Courier New', Courier, monospace;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-height: 100vh;
}

section {
	width: 100%;
	max-width: 1000px;
	padding: 20px 20px;
	display: flex;
	justify-content: normal;
}

h1 {
	color: #fff;
	font-size: 19vw;
	font-weight: bold;
}

header {
	color: rgba(255, 244, 148, 0.945);
	font-size: 6vw;
	text-align: justify;
	text-justify: auto;
}

/* NAV-CARDS BUSINESS */
a {
	color: #000
}
nav {
	width: 100%;
	max-width: 100%;
	height: 70vw;
	position: relative;
}

nav a div {
	font-size: 10vw;
	height: 50vw;
	width: 50vw;
	position: absolute;
}

nav a:nth-child(1) div {
	background-color: rgb(64, 243, 64);
	top: 0;
	left: 0;
}

nav a:nth-child(2) div {
	background-color: rgb(255, 86, 232);
	top: 10vw;
	left: 20vw;
}

nav a:nth-child(3) div {
	background-color: rgb(52, 247, 221);
	top: 20vw;
	left: 40vw;
}

/* HOVERS */
nav a:nth-child(1) div:hover,
nav a:nth-child(2) div:hover,
nav a:nth-child(3) div:hover {
	top: -10px;
}

footer {
	color: rgba(255, 255, 255, 0.562);
	font-style: italic;
	text-align: center;
	position: fixed;
	bottom: 0;
	width: 100%;
	background-color: #000;
	padding: 10px 0;
}

 /* Extra small devices (phones, 600px and down)
 @media screen and (max-width: 600px) {

 } */

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
	 header {
		 font-size: 4vw;
	 }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {

	section {
		justify-content: center;
	}

	nav {
		height: calc(350px + 140px);
		width: 80%;
	}
	
	nav a div {
		font-size: 70px;
		height: 350px;
		width: 350px;
		position: absolute;
	}

	nav a:nth-child(1) div {
		top: 0;
		left: 0;
	}

	nav a:nth-child(2) div {
		top: 70px;
		left: 25%;
	}

	nav a:nth-child(3) div {
		top: 140px;
		left: 50%;
	}
}
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
	 h1 {
		 font-size: 12rem;
	 }

	 header {
		 font-size: 35px;
	 }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {

	nav a:nth-child(1) div {
		top: 0;
		left: 0;
	}

	nav a:nth-child(2) div {
		top: 70px;
		left: 30%;
	}

	nav a:nth-child(3) div {
		top: 140px;
		left: 60%;
	}
 }

 /* ANIMATION */
.full-screen1 {
	/* position: absolute; */
	animation-name: enlarge1;
	animation-duration: 1s;
	/* animation-iteration-count: infinite; */
	animation-fill-mode: forwards;
}

@keyframes enlarge1 {
	30% {
		top: 0;
		left: 0;
	}
	100% {
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
}

.full-wrap {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: transparent;
	z-index: -2;
}